<html>
    <head>
        <title>Knock Knock...</title>
    </head>
    <h1>A terrible joke</h1>
    <h2>wait for it...</h2>
<body>
    <p>Knock Knock</p>
    <p>who's there?</p>
    <p>a little old lady</p>
    <p>a little old lady who?</p>
    <p>All this time, I had no idea you could yodel.</p>
    <em>The end.</em>
    <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>
        <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">My second post</a></h2>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
            </div>
</body>
</html>

